/*
*{
    border: solid 1px red;
}
  */  


body{
    margin:0;
}


.main{
    --main-color: white;
    --second-color: rgb(241, 157, 0);
    --minimal-color: red;
    --search-and-bg: rgb(239, 239, 239);
    display: flex;
}


#ghost_icon{
font-size: 2.2rem;
margin-left: 40px;

}
/* span text next to sidebar header icon*/
.main > div > div > span{
    color: var(--main-color);
    font-weight: 400;
    font-size: 2.2rem
}

/* Sidebar*/
.sidebar.container{
background-color: var(--second-color);
width: clamp(400px, 20vw, 30vw);
height: 100vh;

--sidebar-icon-margins: 0px 0px 0px 60px;
--sidebar-top-gap: 25px;
--sidebar-icon-gap: 20px;
--icon-size:1.5rem;
--sidebar-font-size: 1.4rem;


}

/*sidebar header*/
.sidebar.header{
    display:flex;
    gap: 20px;
    align-items: center;
    color: var(--main-color);
    height: 100px;
}

/*sidebar navigation options*/
.sidebar.nav{
    display: flex;
    flex-direction: column;
    
    gap: var(--sidebar-top-gap);
    color: var(--main-color);
    padding-top: 30px;
}

.navigation{
    display: flex;
    gap:var(--sidebar-icon-gap);
}

.navigation span{
    font-size: var(--sidebar-font-size);
}

.navigation i{
    font-size: var(--icon-size);
    margin: var(--sidebar-icon-margins);
    width: 30px;
}
/* Sidebar footer navigation options*/
.sidebar.footer{
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-top-gap);
    color: var(--main-color);
    padding-top: 100px;
}

.footer{
    display:flex;
    flex-direction: row;
    gap:var(--sidebar-icon-gap);
}

.footer span{
    font-size: var(--sidebar-font-size);
}

.footer i{
    font-size:var(--icon-size);
    margin: var(--sidebar-icon-margins);
    width: 30px;
}

/*right side container for top and bottom*/
.dashboard.container{
    display:flex;
    flex-direction: column;
    --top-font: Verdana, Geneva, Tahoma, sans-serif;
     
}

.top.container{
    display: flex;
    flex-direction: column;
    padding: 10px 0px 0px 90px;
    --icon-top-size: 1.6rem;
    box-shadow: 5px 0px 5px 5px rgb(206, 206, 206);
    height:200px;
    width: calc(100vw - clamp(300px, 20vw, 30vw));
}

.dashboard.search{
    display: flex;
    font-size: var(--icon-top-size);
    gap: 20px;
    align-items: center;
}

.dashboard.search > input{
outline:none;
border:none;
font-family:var(--top-font);
font-weight: 600;
background-color: var(--search-and-bg);
padding-left: 15px;
width: 35vw;
height: 30px;
border-radius: 20px;
}

/* Top half of top dashboard*/

.top_half{
    display: flex;
    align-items: center;
    --profile-size-top: 60px;
}

#bell_icon{
    margin: 0px 3vw 0px 14vw;
    font-size:var(--icon-top-size) ;
}

.top.profile{
    display: flex;
    align-items: center;
}

#top_profile_pic{
    height: var(--profile-size-top);
    width: var(--profile-size-top);
    border-radius: 40px;
}

#name{
    padding-left: 25px;
    font-family: var(--top-font);
    font-weight: 600;
}

/*bottom half of top container*/

.bottom_half{
display: flex;
--profile-size-bottom: 80px;
padding: 20px 0px 20px 10px;

}

.bottom.profile{
    display: flex;
}

#bottom_profile_pic{
height: var(--profile-size-bottom);
width:var(--profile-size-bottom);
border-radius: 50px;
}


.hi.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--top-font);
    font-weight: 600;
    padding-left: 20px;
    gap: 10px;
    font-size: 0.8rem;
}


.name_and_user{
font-size: 1.3rem;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-left: clamp(20vw, 25vw, 26vw);
    align-items: center;
    
    
}

button{
    border:none;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 30px;
    height: 40px;
    width: 110px;
    box-shadow: 5px 5px 5px 1px rgb(217, 217, 217);
    font-weight: 600;
    font-family: var(--top-font);
}

button:hover{
     box-shadow: 5px 5px 5px 1px rgb(184, 184, 184);
}

/* bottom dashboard container*/
.bottom.container{
    background-color: var(--search-and-bg);
    height: calc(98vh - 200px);

}