
*{
    border: solid 1px red;
}
   

body{
    margin:0;
}


.main{
    --main-color: white;
    --second-color: rgb(111, 63, 0);
    --minimal-color: red;
    --search-and-bg: rgb(232, 232, 232);
    --project-card-side-color: rgb(255, 207, 159);
    --sidebar-width: clamp(290px, 19vw, 400px);
    --sidebar-min-width:0;
    display: flex;
    background-color: var(--search-and-bg);
   
}


#ghost_icon{
font-size: 2.2rem;
margin-left: 40px;

}
/* span text next to sidebar header icon*/
.main > div > div > span{
    color: var(--main-color);
    font-weight: 400;
    font-size: 2.2rem
}

/* Sidebar*/
.sidebar.container{
background-color: var(--second-color);
width: var(--sidebar-width);

--sidebar-icon-margins: 0px 0px 0px 75px;
--sidebar-top-gap: 25px;
--sidebar-icon-gap: 20px;
--icon-size:1.5rem;
--sidebar-font-size: 1.4rem;


}

/*sidebar header*/
.sidebar.header{
    display:flex;
    gap: 20px;
    align-items: center;
    color: var(--main-color);
    height: 100px;
    width: var(--sidebar-width);
}

/*sidebar navigation options*/
.sidebar.nav{
    display: flex;
    flex-direction: column;
    
    gap: var(--sidebar-top-gap);
    color: var(--main-color);
    padding-top: 50px;
}

.navigation{
    display: flex;
    gap:var(--sidebar-icon-gap);
}

.navigation span{
    font-size: var(--sidebar-font-size);
}

.navigation i{
    font-size: var(--icon-size);
    margin: var(--sidebar-icon-margins);
    width: 30px;
}
/* Sidebar footer navigation options*/
.sidebar.footer{
    display: flex;
    flex-direction: column;
    gap: var(--sidebar-top-gap);
    color: var(--main-color);
    padding-top: 100px;
}

.footer{
    display:flex;
    flex-direction: row;
    gap:var(--sidebar-icon-gap);
}

.footer span{
    font-size: var(--sidebar-font-size);
}

.footer i{
    font-size:var(--icon-size);
    margin: var(--sidebar-icon-margins);
    width: 30px;
}

/*right side container for top and bottom*/
.dashboard.container{
    display:flex;
    flex-direction: column;
    width: calc(100vw - var(--sidebar-width));
    --top-font: Verdana, Geneva, Tahoma, sans-serif;
    --top-container-height: 160px;
    --top-container-width: calc(90vw - var(--sidebar-width));
}

#top_container{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 0px 20px;
    --icon-top-size: 1.6rem;
    box-shadow: 5px 0px 5px 5px rgb(206, 206, 206);
    height:var(--top-container-height);
    background-color: var(--main-color);
}

.dashboard.search{
    display: flex;
    font-size: var(--icon-top-size);
    gap: 20px;
    align-items: center;
}

.dashboard.search > input{
outline:none;
border:none;
font-family:var(--top-font);
font-weight: 600;
background-color: var(--search-and-bg);
padding-left: 15px;
width: 35vw;
height: 30px;
border-radius: 20px;
}

/* Top half of top dashboard*/

.top_half{
    display: flex;
    align-items: center;
    width: 1300px;
    --profile-size-top: 60px;
}

#bell_icon{
    margin: 0px 3vw 0px 10vw;
    font-size:var(--icon-top-size) ;
}

.top.profile{
    display: flex;
    align-items: center;
}

#top_profile_pic{
    height: var(--profile-size-top);
    width: var(--profile-size-top);
    border-radius: 40px;
}

#name{
    padding-left: 25px;
    font-family: var(--top-font);
    font-weight: 600;
}

/*bottom half of top container*/

.bottom_half{
display: flex;
--profile-size-bottom: 74px;
height: 60px;
width: 1290px;
padding: 5px 0px 20px 10px;

}

.bottom.profile{
    display: flex;
    height:75px;
}

#bottom_profile_pic{
height: var(--profile-size-bottom);
width:var(--profile-size-bottom);
border-radius: 50px;
}


.hi.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--top-font);
    font-weight: 600;
    padding-left: 20px;
    gap: 10px;
    font-size: 0.8rem;
}


.name_and_user{
font-size: 1.3rem;
}

.buttons{
    display: flex;
    gap: 30px;
    margin-left: 20vw;
    padding-top: 10px;
    height: 100%;
    align-items: center;
    
    
}

button{
    border:none;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 30px;
    height: 45px;
    width: 110px;
    box-shadow: 5px 5px 5px 1px rgb(217, 217, 217);
    font-weight: 600;
    font-family: var(--top-font);
}

button:hover{
     box-shadow: 5px 5px 5px 1px rgb(184, 184, 184);
}

/* bottom dashboard container*/
.bottom.container{
    display: flex;
    --bottom-margins: 30px 20px 20px 30px;
    margin: var(--bottom-margins);
    --bottom-font-size:1.3rem;
    --bottom-font-padding: 7px;
    
}


.titles > div{
    font-size: var(--bottom-font-size);
    font-family: var(--top-font);
    padding-bottom: var(--bottom-font-padding);
}

.project.container{
display: grid;
gap: 20px;
grid-template: repeat(3 , 210px) / repeat(2, 460px);
background-color: transparent;
}

/*each project card*/
.projects{
    border-radius: 10px;
    background: linear-gradient(to right,var(--project-card-side-color) 2%, var(--main-color) 0%);
    background-color: var(--main-color);
    padding: 10px 5px 0px 20px;
    box-shadow: 4px 5px 6px 2px rgb(169, 169, 169);
}

.projects > div{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.projects > div > span{
    font-family:monospace;
    height: 25px;

}
.projects p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9rem;
    height: 100px;
    
}

.card_icons{
 display: flex;
 gap: 30px;
 justify-content: end;
 margin: 0px 20px 0px 0px;
 font-size: 1.7rem;
 height: 30px;
}

/* announcement section*/
.announce_trend{
display: flex;
width: 400px;
height: 100;
flex-direction: column;
margin: 0px 0px 20px 60px;
font-family: var(--top-font);
font-size: var(--bottom-font-size);
gap: 40px;


}

.announce.container{
height:320px;
width: 100%;
background-color: var(--main-color);
overflow-y: scroll;
border-radius: 10px;

}

.announce > div{
    padding-bottom: var(--bottom-font-padding);
}

/*trend section*/
.trend > div{
padding-bottom: var(--bottom-font-padding);
}

.trend.container{
background-color: var(--main-color);
height: 240px;
width: 100%;
overflow-y:scroll;
border-radius: 10px;
}

